/* Main Font Scheme */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 3.2rem;
    color: white;
}
.banner-wrap{
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.banner-wrap nav-bar{
    width: 89px;
    height: 24px;
}
.banner-container{
    display: flex;
    flex-direction: column;
    color: white;
}
